.pcoded-main-container {
    background-color: #6495ed;
    background-image: url(../img/logo/logo.jpg);
    background-size: cover;
    background-position: 10em -2.5em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}
@media all and (max-width: 750px) {
    .pcoded-main-container {
        background-image: linear-gradient(to top,rgba(161, 113, 65, .8), #fff);
        background-position: center; 
        min-height: auto
    }
}
.titre-principal {
    text-align: center;
    font-family: "Trebuchet ms",verdana,sans-serif;
    font-size: 3.25em;
    letter-spacing: 1.2px;
    font-variant: small-caps;
    font-weight: 700;
    margin-top: .1em;
    text-shadow: 3px 2px 1px rgba(161, 113, 65, .8);
    color: #ffffffe3;
}
.auth-wrapper .titre-principal {
    font-size: 1.5em;
}
@media all and (max-width: 750px) {
    .titre-principal {
        font-size: 2em
    }
}

.menu-box-avatar img {
    width: 7em;
    height: 7em;
    border: 5px solid #eee;
    padding: 5px;
    margin: .5em
}

.menu-box-avatar h2 {
    font-family: 'Times new roman',calibri,sans-serif;
}
.menu-box-avatar h2 span {
    font-size: .7em;
    font-family: Lato,'Trebuchet MS',candara,'Arial Narrow',serif;
}

@media all and (max-width: 750px) {
    .menu-box-avatar img {
        width: 3.5em;
        height: 3.5em;
        border-width: 2.5px;
        margin: 0 .5em
    }
}

footer {
    z-index: 1030;
    right: 0 !important;
    left: auto !important;
    width: calc(100% - 19.6%);
    padding: .5%;
    text-align: center;
    font: 1em sans-serif;
    box-shadow: 0 -2px 3px #ccc;
}


.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline-block;
}
.htmx-request #response {
    display: none;
}